<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298475209395-4s60h1giugld4rt4khi79vebmsbkmhjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298475209395-4s60h1giugld4rt4khi79vebmsbkmhjn</string>
	<key>API_KEY</key>
	<string>AIzaSyCTHB95NNf_Lv_nPhB7vs-kCTR2hBo4t9c</string>
	<key>GCM_SENDER_ID</key>
	<string>298475209395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animalapp</string>
	<key>PROJECT_ID</key>
	<string>animaliya-risfat</string>
	<key>STORAGE_BUCKET</key>
	<string>animaliya-risfat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298475209395:ios:3bc0d6d6627c92acb726c6</string>
</dict>
</plist>